<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.pujcovna.testing"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pujčování nářadí - Tachov</name>

  <description>
      Půjčování nářadí pro Tachov.
  </description>

  <author href="http://www.pujcovaninaradi.cz" email="#">
      GradeD MG s.r.o
  </author>



  
    
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    
    <plugin name="cordova-plugin-inappbrowser" spec="1.7.1" />
    <plugin name="cordova-plugin-file-transfer"  />
    <plugin name="cordova-plugin-file-opener"  /> 
    <plugin name="cordova-plugin-whitelist"  />
    
    

</widget>

